.ResetPass {
    width: 29.9%;
    height: 350px;
    margin-left: 33%;
    margin-top: 3%;
    background-color: lightgray;
    padding: 25px 12px 25px 21px;
    border-radius: 20px;
}
.ResetPass h1{
    font-weight: 300;
}
.ResetPass h4{
    font-weight: 200;
}
input:focus {
    outline: none;
}
.ResetPass .pass {
    padding: 10px 50px 10px 6px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-right: 10px;
    position: relative;
    top: 20px;
}
.ResetPass .Checkbox {
    position: relative;
    width: 15px;
    height: 25px;
    top: 40px;
}
.ResetPass span {
    position: relative;
    font-size: 14px;
    top: 33px;
}
.ResetPass input[type=submit] {
    position: relative;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    border: hidden;
    top: 100px;
    margin-left: 280px;
    color: lightgray;
    background-color: #0a73f8;
    cursor: pointer;
}
.ResetPass input[type=submit]:hover {
    background-color: #0b60cf;
}
.Status {
    position: relative;
    text-align: center;
    color: red;
}   